.App-Header-Row
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 197, 23);
}
.App-Header-Link{
    /* padding:12px; */
    margin-right: 40px;
    font-size: x-large;
    text-decoration: none;
    color: black;
    font-weight:700;
}